*{
    font-family: 'Fuzzy Bubbles', cursive;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive; */
}

.logo{
    margin-left: 70px;
    height: 50px;
    align-content: center;
}

.copyright{
    background-color: rgba(0,0,0,0.05);
}

.iconos{
    font-size: 25px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
